body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(184, 210, 228);
}

@font-face {
    font-family: nunito;
    src: url('fonts/Nunito-VariableFont_wght.ttf');
}

.navigation-top {
    width: 100%;
    display: flex;
    margin-top: 3%;
    font-size: x-large;
    h6{
        margin-top: -0.4%;
        font-size: xx-large;
        margin-left: 0.5%;
    }
    img{
        margin-top: -1.3%;
        margin-left: 10%;
        width: 3%;
        height: 2.5%;
        border-radius: 100%;
    }

}

.nav-bar {
    margin-left: 30%;
    position: relative;
    font-family: nunito;
    display: flex;
    gap: 10%;
    list-style: none;
    a {
        text-decoration: none;
        color: rgb(53, 48, 48);
    }

}
.buttons-in-nav{
    display: flex;
    gap: 5%;
}
#LogIn {
    background-color: transparent;
    border-color: transparent;
    font-size: x-large;


}



#signUp {
   font-size: x-large;
    background-color: pink;
    border-color: transparent;
    border-radius: 20px;
    padding: 10%;
}

.square-decor {
    height: 300px;
    width: 250px;
    border-radius: 5rem;
    top: 30%;
    margin-left: -10%;
    left: 0;
    z-index: -1;
    position: absolute;
    rotate: 19deg;

    background-color: #e9a9c9;




}

.login-signup-page {
    margin-left: 15%;
    gap: 5%;
    display: flex;
}

.login-signup-page-left {
    width: 60%;
    margin-top: 10%;
    width: 45%;
    color: rgb(39, 39, 65);

    h1 {
        font-size: 450%;
        

    }

    a {
        color: red;

    }

    p {
        margin-bottom: 10%;
        width: 70%;
    }
}

p {
    font-family: nunito;
    font-size: 160%;

}

.left-buttons {
    p{
        margin-left: 10%;
    }
    gap: 5%;
    a {
        font-size: x-large;
    }
}
.left-buttons2{
    display: flex;
    width: 40%;
    gap: 5%;
    justify-content: space-between;
}

.app-store{
    button {
        background-color: rgb(46, 44, 44);
        border-color: transparent;
        border-radius: 20px;
        width: max-content;
        padding: 15% 40%;
    }

    i{
        position: absolute;
        margin-left: 1%;
        color: white;
        margin-top: -0%;
        padding-top: 0.5%;
        font-size: xx-large;
    }
    a {
        color: white;
        text-decoration: none;

    }

}

.play-store {
  
    margin-left: 4%;
    margin-top: 4%; 
    
    svg{
    }
    a {
        color: rgb(37, 36, 36);
        text-decoration: none;
        position: absolute;
        margin-top: -1.5%;
    }

}
#playstore-button{
    border-color: black solid 1px;
    background: none;
    width:120%;
    border-radius: 20px;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10%;
    display: flex;
    svg{
        width: 40px;
    }
}


#contact-us {
    margin-top: 15%;
    margin-left: -70%;
    font-size: 160%;

    a {
        color: rgb(46, 44, 44);
        

    }
}
.login-signup-page-right{
    transform: rotate(-5deg);
    margin-left: 5%;
  

}
.personal-detail{
 
    margin-top: 7%;
    width: 60%;
    border: 1px solid;
    padding: 3% ;
    border-radius: 1rem;
    background-color: white;
    h3{
        font-weight: bold;
        line-height: 0.3;

    }
    p{
        font-size: large;
        line-height: 0.5;
    }
}
.salary-detail{
    width: fit-content;
    display: flex;
    z-index: 0;

    img{
        position: absolute;
        width: 35%;
        margin-left: 24%;
        border-radius: 2rem;
        margin-top: 2%;
    }
}
.average-speed{

    display: flex;
    margin-top: 2%;
    border: 1px solid;
    padding: 0 3% ;
    border-radius: 1rem;
    background-color: white;
    width: fit-content;
    z-index: 4;
}
.percentage{
    border:solid 6px rgb(141, 221, 221);
    text-align: center;
    border-radius: 50%;
    border-top: none;
    z-index: unset;
}





.allert-recieved{
    gap: 9%;
    display: flex;
align-items: center;
}
.allert-recieved p{
    width: 60%;
    border: 1px solid transparent;
    background-color: rgb(181, 208, 233);
    border-radius: 1em;
    padding: 1% 2%;
    font-size: large;
    line-height: 1;
    color: rgb(17, 144, 218);
}
.allert-recieved img{
    width: 15%;
    height: 15%;
    border-radius: 50%;
}
.people-profile-workDays{ 
display: flex;
gap: 30%;
}
.worked-days{
    line-height: 0.5;
   
}
#profession{
    font-weight: lighter;
}
.monthly-salary{
    padding-top: 5%;
}
.businesWithDio {

    text-align: center;
    font-size: xx-large;
    width: 80%;
    margin: 15% auto;
    gap: 5%;
    
    color: rgb(128, 126, 126);

    span {
        color: rgb(36, 35, 35);
        font-weight: bold;
    }
}

.product-we-work {

    padding: 1% 8% 2% 2%;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: rgb(204, 224, 217);
    width: 60%;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 330%;
    font-weight: lighter;

    span {
        text-decoration: underline;
        color: red;
    }
}

h3 {
    font-size: 200%;
    font-weight: lighter;
}

.user-centric-solutions {
    display: flex;
    justify-content: space-between;

    p {
        margin: auto;
        width: 80%;
    }

}

.easyInterface {
    border: 1px solid transparent;
    background-color: white;
    border-radius: 1em;

}

.easyInterface:hover {
    border-color: rgb(211, 63, 132);
}

.securedTransfer {
    border: 1px solid transparent;
    background-color: white;
    border-radius: 1em;



}

.securedTransfer:hover {
    border-color: rgb(211, 63, 132);
}

.support {
    border: 1px solid transparent;
    background-color: white;
    border-radius: 1em;
}

.support:hover {
    border-color: rgb(211, 63, 132);

}

.diti-achievement {
    width: 80%;
    margin: 10% auto;

}

.diti-achievement-left {
    width: 50%;

    h1 {
        font-size: 400%;
        font-weight: lighter;
    }

    h2 {
        width: 50%;
    }

    p {
        width: 80%;
    }

}

.downloads-and-users {
    display: flex;
    gap: 9%;
}

.group-users-and-subscribers {
    display: flex;
    gap: 9%;

}

.global-customer {
    text-align: center;
}

.mobile-interface {
    width: 80%;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: rgb(240, 196, 223);
    padding: 3% 4% 5% 3%;

    p {
        width: 30%;
    }

    h3 {
        font-weight: bold;
    }
}

.mobile-interface button {

    background-color: rgb(30, 38, 48);
    border-color: transparent;
    border-radius: 20px;
    width: max-content;
    padding: 1.5% 3.5%;
    color: white;

}

.mobile-interface button:hover {
    color: black;
    background-color: white;
}

/* check */

.testimonials {
    display:flex;
    gap:50px;
    justify-content: center;
    a{
        text-decoration: none;
        color:black;
    }
    }
    .know-more{
        color:red;
        text-decoration: underline;
    }
    .clients{
        background-color: beige;
    }
    .center{
        text-align:center;
    }
    .edwin-testimony{
    width:40%;
    }
    .jecson-testimony{
        width:40%;
    }

.downloading{
    padding: 5% 10%;
    display: flex;
    width: 70%;
    margin: auto;
    gap: 10%;
    
    img{
        border-radius: 4%;
    }
}
.download-option{
    padding-top: 7%;
}
.download-option-lightText{
 
    font-weight: lighter;
}
.download-option-boldtext{
font-weight: bold;
text-decoration: underline;
}









.mobile-app-options{
   
}
footer{
    background-color:#1c233f ;
    width:100%;
    color:white;
    display:flex;
    justify-content:space-between;
    padding:2%;
    flex-wrap:wrap;
    flex-direction:column;
    li{
        font-weight: lighter;
        font-size: larger;
    }
}


.footer-blueblack-part{
    display:flex;
    
    img{
        width: 3%;
        height: 3%;
        margin:3% 1% 0 7%; 
        margin-top:1.5%;
        border-radius: 50%;
    }
   
}
.fa-brands{
    padding-right:2%;
    margin-top:5%;
    font-size: x-large;

}
.what-we-offer{
    display: flex;
    justify-content: space-between;
    font-family: nunito;
    
}
footer ul{

    list-style-type: none;
    line-height:45px;
    justify-content: space-between;
}
.term-and-policy{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:100%;
    background-color:rgb(16, 16, 34);
    margin:0 -7% -2% -2% ;
    padding:2%;
    font-weight: lighter;
    font-size: medium;
}
footer .term-policy p:nth-last-child(1) {
    border-left: 3px solid white;
    padding-left:15%;
}




